/node_modules
/public/hot
/public/storage
/public/pdf
/public/book_page
/public/profile_pictures
/storage/*.key
/vendor
/database/seeds
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
